OPENROUTER_API_KEY=sk-xxxxx
OPENWEATHER_API_KEY=dfxxxxxxx
SERP_API_KEY=1020xxxxx
OPENROUTER_MODEL=gpt-4o-mini
OPENROUTER_TEMPERATURE=0.0
FRONTEND_CORS_ORIGIN=https://frontend.com/
REDIS_URL=rediss://default:xxxxx
API_KEY=NA-xxxxxx
SESSION_SECRET=Qxxxxxx
TAVILY_API=tvly-dev-xxxxx
ORS_API=ors-xxxxx
