OPENROUTER_API_KEY=sk-xxxxx
OPENWEATHER_API_KEY=dfxxxxxxx
SERP_API_KEY=1020xxxxx
TAVILY_API=tvly-dev-xxxxx
ORS_API=ors-xxxxx
API_KEY=NA-xxxxxx
SESSION_SECRET=Qxxxxxx
OPENROUTER_MODEL=gpt-4o-mini
OPENROUTER_TEMPERATURE=0.0
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENWEATHER_CURRENT_URL=https://api.openweathermap.org/data/2.5/weather
OPENMETEO_GEOCODE_URL=https://geocoding-api.open-meteo.com/v1/search
OPENMETEO_FORECAST_URL=https://api.open-meteo.com/v1/forecast
SERPAPI_SEARCH_URL=https://serpapi.com/search.json
TAVILY_SEARCH_URL=https://api.tavily.com/search
ORS_DIRECTIONS_URL=https://api.openrouteservice.org/v2/directions
FRONTEND_CORS_ORIGIN=https://frontend.com/
REDIS_URL=rediss://default:xxxxx
